<html>
    <head>
        <title>{{title}}</title>
        <body>
        <h1>{{title}}</h1>

        <p> {{message}} </p>
        <form method="post">
        <label>Username:</label>
        <input type="text" name="username" required="">
        <br>
        <label>Password:</label>
        <input type="text" name="password" required="">
        <br>
        <br>
        <input type="Submit"name="Submit" value="submit">
        </form>

        </body>
    </head>
</html>